@model List<Enrollment>
@{
    ViewBag.Title = "Enrollments";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student Name</th>
            <th>Term</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.EnrollmentId</td>
                <td>@e.Student.Name</td>
                <td>@e.Term</td>

                <td>
                    <a asp-controller="Enrollment" asp-action="Edit" asp-route-id=@e.EnrollmentId class="btn btn-info"> Edit </a>
                    <a asp-controller="Enrollment" asp-action="Delete" asp-route-id="@e.EnrollmentId" class="btn btn-info"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Add" method="get">
    <button type="submit" class="btn btn-info"> Add Enrollments </button>
</form>




