@model dynamic
@{
    ViewBag.Title = "Majors";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Major ID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Majorings)
        {
        <tr>
            <td>@m.StudentId</td>
            <td>@m.Student.Name</td>
            <td>@m.MajorId</td>
            <td>@m.Major.Title</td>

        </tr>
        }
    </tbody>
</table>
<form asp-action="Add" method="get">
    <button type="submit" class="btn btn-info"> Add New </button>
</form>





